.icon-antenna:before {
  background-image: url('../img/svg/antenna.svg');
}
.icon-clock:before {
  background-image: url('../img/svg/clock.svg');
}
.icon-diagram:before {
  background-image: url('../img/svg/diagram.svg');
}
.icon-astronaut:before {
  background-image: url('../img/svg/astronaut.svg');
}
