.example-section {
  display: none;

  @include for-size(desktop) {
    display: block;
    padding-bottom: 94px;
  }

  .title {
    margin: 0 0 50px 0;

    @extend %title-shared;
  }
}

.example-list {
  display: flex;
  margin: 0;

  .item:not(:last-child) {
    margin-right: 30px;
  }
}

.example-overlay {
  position: relative;
}
.example-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 82px;
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: $white-color;
}
