.filter-list {
  display: flex;
  flex-wrap: wrap;

  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  @include for-size(desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .list-item:not(:last-child) {
    margin-right: 8px;
  }

  .list-item:nth-child(-n + 3) {
    @include for-size(mobile-only) {
      margin-bottom: 15px;
    }
  }
}

.filter-button {
  padding: 6px 22px;
  display: inline-flex;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-color;

  background: $team-bg;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  @extend %transition;

  &:hover,
  &:focus {
    color: $white-color;
    background: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}
