.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio-title {
  display: none;
}

.port-container {
  margin-left: auto;
  margin-right: auto;
}
.port-list {
  margin-top: 40px;

  display: flex;
  flex-wrap: wrap;

  @include for-size(desktop) {
    margin-top: 50px;

    display: flex;
    flex-wrap: wrap;
  }

  .title {
    margin: 0 0 4px 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-color;
  }

  .text {
    margin: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: $text-color;
  }
}

.port-list-item {
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;

  @include for-size(tablet) {
    width: calc((100% - 30px) / 2);
    margin-bottom: 30px;

    border: 1px solid #eeeeee;
  }

  @include for-size(desktop) {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    border: 1px solid #eeeeee;
  }
}
.port-list-item:last-child {
  @include for-size(mobile) {
    margin-bottom: 0;
  }
}

.port-list-item:nth-child(n + 7) {
  @include for-size(tablet) {
    margin-bottom: 30px;
  }
}

.port-list-item:nth-child(2n + 1) {
  @include for-size(tablet) {
    margin-right: 30px;
  }
}

.port-list-item:last-child {
  @include for-size(tablet) {
    margin-bottom: 0;
  }
}

.port-list-item:nth-child(3n) {
  @include for-size(desktop) {
    margin-right: 0px;
  }
}

.port-list-item:nth-last-child(-n + 3) {
  @include for-size(desktop) {
    margin-bottom: 0px;
  }
}

.port-list-link {
  @extend %transition;

  &:hover .img-overlay-text,
  &:focus .img-overlay-text {
    transform: translateY(0);
  }

  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
