.footer-adress-section {
  @include for-size(mobile-only) {
    text-align: center;
    margin-bottom: 60px;
  }

  @include for-size(tablet) {
    margin-bottom: 60px;
    margin-left: 61px;
    margin-right: auto;

    text-align: center;
  }

  @include for-size(desktop) {
    width: 231px;
    margin-bottom: 0;
  }
}

.adress-section {
  @include for-size(desktop) {
    text-align: left;
  }
}

.footer {
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @include for-size(desktop) {
    display: flex;
    flex-wrap: nowrap;
  }

  .location {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $white-color;
    margin-top: 20px;
  }

  .contact {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-top: 9px;
    @extend %transition;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
