.subscribe-section {
  text-align: center;

  @include for-size(tablet) {
    text-align: center;
    margin: auto;
  }
  @include for-size(desktop) {
    margin-top: 12px;
  }
}

.subscribe-form {
  margin-top: 20px;
  @include for-size(desktop) {
    display: flex;
    margin-top: 20px;
  }
}

.subscribe-input {
  width: 100%;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-bottom: 20px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background: $hero-bg;
  color: rgba(255, 255, 255, 0.6);

  @include for-size(desktop) {
    display: flex;
    width: 358px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background: $hero-bg;
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe-button {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 10px 62px 10px 29px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $white-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: $accent-color;

  @include for-size(desktop) {
    position: relative;
    display: flex;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    padding: 10px 62px 10px 29px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $white-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: $accent-color;
  }

  &-svg {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);

    fill: $white-color;
  }
}
