html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
}
