.page-header {
  background-color: $header-bg;
  border-bottom: 1px solid #ececec;
}

.header.container {
  @include for-size(mobile-only) {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 15px;
  }

  @include for-size(tablet) {
    display: flex;
    align-items: center;
  }

  @include for-size(desktop) {
    display: flex;
    align-items: center;
  }
}
