.nav-container {
  @include for-size(desktop) {
    display: flex;
    margin-left: 93px;
  }
  @include for-size(tablet) {
    display: flex;
    margin-left: 88px;
    margin-right: 84px;
  }
}
.nav-list {
  @include for-size(mobile-only) {
    display: flex;
    flex-direction: column;
    align-items: center;

    .item {
      margin-bottom: 40px;
    }

    .item:last-child {
      margin-bottom: 60px;
    }
  }
  @include for-size(tablet) {
    display: flex;
    .item:not(:last-child) {
      margin-right: 50px;
    }
  }
  @include for-size(desktop) {
    display: flex;
    .item:not(:last-child) {
      margin-right: 50px;
    }
  }

  .nav-link.current {
    color: $accent-color;
  }
}

.current:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;

  border-radius: 4px;
  background-color: currentColor;
}
.nav-link {
  display: flex;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  color: $title-color;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-duration: 250ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @include for-size(tablet) {
    display: flex;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: $title-color;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-duration: 250ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  @include for-size(desktop) {
    display: flex;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: $title-color;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-duration: 250ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
